
/*

.todo-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 9px;
}

.alumnos-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 9px;
}

.formgroup{
    display:block;
     justify-content: center;
    margin-bottom: 20px;
}
.formgroup input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.formgroup button{
    padding: 10px 15px;
    background-color: #1fac4a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botonrojo{
    background-color: red !important;
}
.botonnormal{
    background-color: #333 !important;
 
}


.add-task{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-task input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.add-task button{
    padding: 10px 15px;
    background-color: #1fac4a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-list{
    list-style-type: none;
    padding: 0;
}

.task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px #311afbe8; 
}

.task-list button{
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-list li.completed span{
    text-decoration: line-through;
    color: #888;
}

.task-font
{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: hwb(0 0% 100%);
}

*/